In [92]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from time import sleep
driver=webdriver.Chrome(r'/Users/rinki/Downloads/chromedriver')

In [105]:
url='https://www.flipkart.com'
driver.get(url)

#search sneakers

search=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search

search.send_keys("Sneakers")

#enter search

search_btn=driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

search_btn.click()

In [107]:
#scrape shoes name
Name=[]
for i in range(3):
    print('scraping page', i+1)
    name=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in name:
        Name.append(i.text)
    next=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[1]')
    next=driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
    next=driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[3]')
    next.click()
    sleep(5)

scraping page 1
scraping page 2
scraping page 3

In [111]:
#scrape shoes detail
Detail=[]
for i in range(3):
    print('scraping page', i+1)
    detail=driver.find_elements_by_xpath('//a[@class="IRpwTa"]|//a[@class="IRpwTa _2-ICcC"]')
    for i in detail:
        Detail.append(i.text)
    next=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[1]')
    next=driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
    next=driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[3]')
    next.click()
    sleep(5)

scraping page 1
scraping page 2
scraping page 3

In [108]:
Price=[]
for i in range(3):
    print('scraping page', i+1)
    price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in price:
        Price.append(i.text)
    next=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[1]')
    next=driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
    next=driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[3]')
    next.click()
    sleep(5)

scraping page 1
scraping page 2
scraping page 3

In [102]:
len(Price)

120

In [109]:
Discount=[]
for i in range(3):
    print('scraping page', i+1)
    discount=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    for i in discount:
        Discount.append(i.text)
    next=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[1]')
    next=driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
    next=driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[3]')
    next.click()

    sleep(5)

scraping page 1
scraping page 2
scraping page 3

In [112]:
shoes=pd.DataFrame({})
shoes['Name']=Name[:100]
shoes['Detail']=Detail[:100]
shoes['Price']=Price[:100]
shoes['Discount']=Discount[:100]
shoes

,Name,Detail,Price,Discount
0,RapidBox,Sneakers For Men,₹424,57% off
1,Shoes villa,Ultralight Latest Collection Sports Running Sh...,₹380,61% off
2,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹399,69% off
3,Kzaara,Sneakers For Men,₹374,85% off
4,Magnolia,Sneakers For Men,₹209,58% off
...,...,...,...,...
95,BERSACHE,Latest design Stylish Premium Lace-up Casual S...,₹209,89% off
96,ASTEROID,Sneakers For Men,₹424,78% off
97,asics,LYTECOURT Sneakers For Men,"₹2,289",49% off
98,CLYMB,Sneakers For Men,₹534,64% off
99,Bata,"Casual Shoes , Sneakers Shoes,Lace-Up PVC Shoe...",₹714,20% off