In [235]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

driver=webdriver.Chrome(r'/Users/rinki/Downloads/chromedriver')

In [236]:
url='https://www.ambitionbox.com/'
driver.get(url)

#click on job option

search_job=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
search_job

search_job.click()

#search job "Data Scientist"
job_title=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
job_title

job_title.send_keys("Data Scientist")

#search product
search_btn=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/button")
search_btn

search_btn.click()

In [255]:
#search location

location=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p")
location
location.click()

#search Noida location

job_loc=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
job_loc

job_loc.send_keys("Noida")

#click on noida option
click_loc=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
click_loc.click()

In [278]:
# scrape job title
job_title=driver.find_elements_by_xpath('//a[@class="title noclick"]')
job_title

Job_title=[]
for i in job_title:
    Job_title.append(i.text)
Job_title

#scrape comp name
comp_name=driver.find_elements_by_xpath('//p[@class="company body-medium"]')
comp_name

Comp_name=[]
for i in comp_name: 
    Comp_name.append(i.text)
Comp_name


#scrape Location
loc=driver.find_elements_by_xpath('//p[@class="body-small-l"]')
loc

Loc=[]
for i in loc:
    Loc.append(i.text)
Loc[3:42:4]

#prepare dataframe
data=pd.DataFrame({})
data['Job_title']=Job_title
data['Comp_name']=Comp_name
data['Job_desc']=Job_desc[4:42:4]
data['Loc']=Loc[3:42:4]
data

,Job_title,Comp_name,Job_desc,Loc
0,"Excellent Opportunity For Freshers For AI/ML, ...",NTT DATA GLOBAL DELIVERY SERVICES PRIVATE LIMITED,"Data Science, Power Bi, RDBMS +6 more","Chennai, Pune, Delhi NCR +5 more"
1,HCL Hiring Data Scientist (Loc: Noida / Chenna...,HCL Technologies Limited,"C++, Database Management System, Artificial In...","Chennai, Bengaluru/Bangalore, Noida"
2,Data Scientist,Optum Global Solutions (India) Private Limited,"Machine Learning, Random Forest, Decision Tree...","Noida, Gurgaon/Gurugram"
3,Data Scientist,WSP CONSULTANTS INDIA PRIVATE LIMITED,"deep learning, python, tensorflow +7 more","Bengaluru/Bangalore, Noida"
4,Data Scientist-II,Microsoft India (R and D) Pvt Ltd,"System design, Intellectual property, Product ...",Noida
5,HCL Tech Opening - Senior Data Scientist,HCL Technologies Ltd,"N-Grams, data science, POS tagging +3 more","Chennai, Pune, Bengaluru/Bangalore +3 more"
6,Data Scientist,Jubilant Foodworks Limited,"Data Science, Deep Learning",Noida
7,Urgent Requirement || Data Scientist || Noida,HCL Technologies,"Machine Learning, Deep Learning, Python +1 more","Delhi NCR, Noida"
8,Data Scientist,Hanu Software Solutions Pvt Ltd,"C++, SQL, Python +7 more","Greater Noida, Noida"
9,Opportunity | Tavant India,Tavant Technologies India Pvt. Ltd.,"data scientist, Machine Learning, Python","Bengaluru/Bangalore, Hyderabad/Secunderabad, N..."