In [22]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

#open automated. chrome
driver=webdriver.Chrome(r'/Users/rinki/Downloads/chromedriver')

In [37]:
#open the website
url='https://www.naukri.com/'
driver.get(url)

#search job skill,designation

search_title=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_title

#search "Data Analyst"
search_title.send_keys("Data Scientist")

#search the seleted options

search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button
search_button.click()

In [38]:
#scrape salary 3-6 lakhs

salary_check=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
salary_check.click()

In [39]:
#scrape job location

job_loc=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/i')
job_loc.click()

In [40]:
#scarpe Job_title
job_title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job_title

Designation=[]
for i in job_title:
    Designation.append(i.text)
Designation

#Scrape location
job_location=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
job_location

Location=[]
for i in job_location:
    Location.append(i.text)
Location

#scrape company_name
org_detail=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
org_detail

company_name=[]
for i in org_detail:
    company_name.append(i.text)
company_name

#scrape experienced
exp_req=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp_req

Experience=[]
for i in exp_req:
    Experience.append(i.text)
Experience

#Make DataFrame of 10 Data Analyst
dataScientist=pd.DataFrame({})
dataScientist['Designation']=Designation[:10]
dataScientist['Location']=Location[:10]
dataScientist['company_name']=company_name[:10]
dataScientist['Experience']=Experience[:10]
dataScientist

,Designation,Location,company_name,Experience
0,"Excellent Opportunity For Freshers For AI/ML, ...","Noida, Kolkata, Hyderabad/Secunderabad, Pune, ...",NTT Data,0-0 Yrs
1,Junior Data Analyst/ Scientist- Fresher Position,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Sejal Consulting Hub,0-3 Yrs
2,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
3,Lead Data Scientist,Delhi / NCR\n(WFH during Covid),Indihire HR Consultants Private Limited,2-4 Yrs
4,Data Scientist,"Noida, Gurgaon/Gurugram",Optum,2-6 Yrs
5,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
6,Hiring For Data Scientist,"Noida, Pune, Mumbai (All Areas)",Lumiq.ai,2-7 Yrs
7,Open Project | IT Consulting | Data Scientist,"Noida, New Delhi, Bangalore Rural, Bangalore/B...",Virtuoso Staffing Solutions Pvt Ltd,5-10 Yrs
8,Urgent Requirement || Data Scientist || Noida,"Noida, Delhi / NCR",HCL,3-8 Yrs
9,Data Scientist (freelance),"New Delhi, Delhi",2Coms,2-7 Yrs